@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


* {
  font-family: 'Roboto';
}

.anchor {
  padding-top: 80px;
  margin-top: -80px;
}