@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/montserrat/700.css';
@import '@fontsource/libre-baskerville/700.css';
@import '@fontsource/merriweather/400.css';

* {
  font-family: 'Roboto';
};

a:link {    /* unvisited link */
  text-decoration: none;
}

#disqus_thread { color-scheme: none; }

// SOCIAL BAR
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-bottom: 45px;
}

.icon {
  margin-bottom: 25px;
}
.share-button:hover .icon circle {
  filter: brightness(1.2);
}