@import 'base_styles';
@import './transitions/wave.css';

.anchor {
    padding-top: 80px;
    margin-top: -80px;
  }

.activeTag {
    background-color: #9E9EFF;
  }

.activeTag:hover {
  background-color: #9E9EFF;
  filter: brightness(110%);
}
.underline {
  text-decoration: none;
  position: relative;
  // color: #000;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #F48FB1;
  transition: width 0.3s ease-in-out;
}

.underline:hover::before {
  width: 100%;
}

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.shape {
  position: absolute;
  animation: float 15s infinite;
  opacity: 0.2;
}

/* Triangles */
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 34.6px 20px;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transform: rotate(45deg);
}

/* Squares */
.square {
  width: 30px;
  height: 30px;
  animation-duration: 15s;
  animation-timing-function: ease-out;
}

/* Circles */
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(0.3, 0.8, 0.6, 1);
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(calc(2vw - 1px), calc(2vh - 1px));
  }
  100% {
    transform: translate(0, 0);
  }
}

.typewriter {
  border-right: 0.08em solid #333;
  font-family: "merriweather";
  padding-right: 0.25em;
  padding-left: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 1.5s step-end infinite;
  color: #F48FB1;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}
