@import 'base_styles';
@import './transitions/wave.css';

.anchor {
    padding-top: 80px;
    margin-top: -80px;
  }

.activeTag {
    background-color: #9E9EFF;
  }

.activeTag:hover {
  background-color: #9E9EFF;
  filter: brightness(110%);
}